body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 0.2fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
}

.header-first-row, .header-second-row {
    display: flex;
    align-items: center;
} 

.search-bar input[type=text] {
    background-color: #e9e9e9;
    border-radius: 12px;
    border: none;
    font-size: 1.2rem;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

P {
    font-size: 1.2rem;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
}

.sideboard, .sideboard-links, .sideboard-bottom-links {
    display: flex;
    flex-direction: column;
}

.sideboard {
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 3;
}

.link {
    text-decoration: none;
    color: white;
}

.main-content {
    background-color: grey;
}

.projects {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
}